<mat-card style="background-color: whitesmoke;">
  <div *ngIf="!(course && course.number)">
    <mat-card-content style="visibility: hidden;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</mat-card-content>
    <mat-card-header style="justify-content: center; text-align: center;">
      <mat-card-title>Click on one of the arrows to the right to see specific info about a course!</mat-card-title>
    </mat-card-header>
    <mat-card-content style="visibility: hidden;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</mat-card-content>
    <mat-card-header style="justify-content: center; text-align: center;">
      <mat-card-title>Click on a + buton to add a class and see how it affects your 6-2 degree requirements!</mat-card-title>
    </mat-card-header>
    <mat-card-content style="visibility: hidden;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</mat-card-content>
  </div>
  <div *ngIf="course && course.number">
    <mat-card-header style="justify-content: center;">
      <mat-card-title>{{ course.number  }} {{ course.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <h3 class="text-header">Description</h3>
      <p>
        {{ course.description }}
      </p>
      <h3 *ngIf="getGroupLabels()" class="text-header">Constraints Satisfied</h3>
      <p *ngIf="getGroupLabels()">
        {{ getGroupLabels() }}
      </p>
      <h3 *ngIf="course.prereqs" class="text-header">Prerequisites</h3>
      <p *ngIf="course.prereqs">
        {{ course.prereqs }}
      </p>
      <h3 *ngIf="course.lecturers" class="text-header">Lecturers</h3>
      <p *ngIf="course.lecturers">
        {{ course.lecturers }}
      </p>
      <h3 *ngIf="course.units" class="text-header">Units</h3>
      <p *ngIf="course.units">
        {{ course.units }}
      </p>
      <h3 class="text-header"> Additional Attributes </h3>
      <p>{{ courseAttributes() }}</p>
      <h3 *ngIf="partDataToDisplay()" class="text-header">Participation</h3>
      <mat-button-toggle-group *ngIf="partDataToDisplay()" appearance="legacy" name="selectMajor" aria-label="selectMajor">
        <mat-button-toggle *ngIf="course.participation['6-1']" (click)="handleSelectMajor('6-1')">6-1</mat-button-toggle>
        <mat-button-toggle *ngIf="course.participation['6-2']" (click)="handleSelectMajor('6-2')">6-2</mat-button-toggle>
        <mat-button-toggle *ngIf="course.participation['6-3']" (click)="handleSelectMajor('6-3')">6-3</mat-button-toggle>
        <mat-button-toggle *ngIf="course.participation['6-7']" (click)="handleSelectMajor('6-7')">6-7</mat-button-toggle>
        <mat-button-toggle *ngIf="course.participation['6-14']" (click)="handleSelectMajor('6-14')">6-14</mat-button-toggle>
      </mat-button-toggle-group>
      <br>
      {{participationDataToDisplay}}

    </mat-card-content>
    <mat-card-actions>
      <a href="{{ course.ocw }}" target="_blank">
        <button mat-button>OCW</button>
      </a>
      <a href="{{ course.registrar }}" target="_blank">
        <button mat-button *ngIf="course.registrar">Registrar</button>
      </a>
    </mat-card-actions>
  </div>
</mat-card>
