<mat-card style="background-color: whitesmoke;">
  <div *ngIf="!(course && course.number)">
    <mat-card-header style="justify-content: center; text-align: center;">
      <mat-card-title>Press any of the little arrows to select a course from the left!</mat-card-title>
    </mat-card-header>
  </div>
  <div *ngIf="course && course.number">
    <mat-card-header style="justify-content: center;">
      <mat-card-title>{{ course.number  }} {{ course.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <h3 class="text-header">Description</h3>
      <p>
        {{ course.description }}
      </p>
      <h3 class="text-header">Constraints Satisfied</h3>
      <p>
        {{ getGroupLabels() }}
      </p>
      <h3 class="text-header">Prerequisites</h3>
      <p>
        {{ course.prereqs }}
      </p>
      <h3 class="text-header">Lecturers</h3>
      <p>
        {{ course.lecturers }}
      </p>
      <h3 class="text-header">Units</h3>
      <p>
        {{ course.units }}
      </p>
      <h3 *ngIf="partDataToDisplay()" class="text-header">Participation</h3>
      <mat-button-toggle-group *ngIf="partDataToDisplay()" appearance="legacy" name="selectMajor" aria-label="selectMajor">
        <mat-button-toggle *ngIf="course.participation['6-1']" (click)="handleSelectMajor('6-1')">6-1</mat-button-toggle>
        <mat-button-toggle *ngIf="course.participation['6-2']" (click)="handleSelectMajor('6-2')">6-2</mat-button-toggle>
        <mat-button-toggle *ngIf="course.participation['6-3']" (click)="handleSelectMajor('6-3')">6-3</mat-button-toggle>
        <mat-button-toggle *ngIf="course.participation['6-7']" (click)="handleSelectMajor('6-7')">6-7</mat-button-toggle>
        <mat-button-toggle *ngIf="course.participation['6-14']" (click)="handleSelectMajor('6-14')">6-14</mat-button-toggle>
      </mat-button-toggle-group>
      <br>
      {{participationDataToDisplay}}

    </mat-card-content>
    <mat-card-actions>
      <a href="{{ course.ocw }}" target="_blank">
        <button mat-button>OCW</button>
      </a>
      <a href="{{ course.registrar }}" target="_blank">
        <button mat-button *ngIf="course.registrar">Registrar</button>
      </a>
    </mat-card-actions>
  </div>
</mat-card>
