html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.main-container {
    display: flex;
    flex-direction: column;
    background-color: #DCAE96 ;
}

.element {
    padding: 1px;
}

.sticky{
    position: fixed;
    top: 1px;
    padding-right: 2px;
    overflow: hidden;
    z-index: 10;
  }

.invisible{
    visibility: hidden;
}